[Unit]
Description=NATS Enterprise Messaging System
After=network.target

[Service]
Type=simple
PIDFile=/run/nats-server/nats-server.pid
RuntimeDirectory=nats-server
User=nats
Group=nats
ExecStart=/opt/nats/nats-server -c /etc/nats-server.conf

[Install]
WantedBy=multi-user.target