# {{ ansible_managed }}

# interface to listen on
host: {{ nats_server_host | default('0.0.0.0') }}

# Client port of 4222 on interfaces defined above
port: {{ nats_server_port }}


# HTTP monitoring port default 8222
monitor_port: {{ nats_server_monitor_port }} 

{% if nats_server_cluster %}
# This is for clustering multiple servers together.
cluster {

  # Route connections to be received on any interface on port 6222
  port: {{ nats_server_cluster_port }}

  # Routes are protected, so need to use them with --routes flag
  # e.g. --routes=nats-route://ruser:T0pS3cr3t@otherdockerhost:6222
  authorization {
    user: ruser
    password: T0pS3cr3t
    timeout: 0.75
  }

  # Routes are actively solicited and connected to from this server.
  # This Docker image has none by default, but you can pass a
  # flag to the gnatsd docker image to create one to an existing server.
  routes = [
    {% if nats_ansible_host_group | default(None) %}
    {% for host in groups[nats_ansible_host_group] %}
    nats-route://ruser:T0pS3cr3t@{{ hostvars[host]['nats_address'] | default(hostvars[host].ansible_default_ipv4.address) }}:6222
    {% endfor %}
    {% endif %}
  ]
}
{% endif %}

{% macro render_gatway(ng) -%}
  
{%- endmacro %}

{% if nats_gateway | default(None) %}
gateway {
  name: "{{nats_gateway.name}}"
  listen: "{{nats_address|default('0.0.0.0')}}:{{nats_gateway.port | default('7222')}}"
  authorization: {
    user: "{{ nats_gateway.user | default('gwu') }}"
    password: "{{ nats_gateway.password | default('gwp') }}"
  }
  gateways: [
{% for grp in nats_gateway.ansible_host_groups %}{% for host in groups[grp] %}
{% set ng = hostvars[host]['nats_gateway'] %}
    {name: "{{ng.name}}", url: "nats://{{ ng.user|default('gwu') }}:{{ ng.password|default('gwp') }}@{{ hostvars[host]['nats_address'] | default(hostvars[host].ansible_default_ipv4.address) }}:{{ng.port | default('7222')}}"},
{% endfor %}{% endfor %}
{%if nats_gateway.gateways | default(None) %}
{% for entry in nats_gateway.gateways %}
    {name: "{{entry.name}}", url: "nats://{{ entry.user|default('gwu') }}:{{ entry.password|default('gwp') }}@{{ entry.host }}:{{entry.port | default('7222')}}"},
{% endfor %}
{% endif %}
  ]
}
{% endif %}

# logging options
debug:   false
trace:   false
# logtime: false
# log_file: "{{nats_server_logfile}}"

# pid file
# pid_file: "{{nats_server_pidfile}}"
