# # {{ ansible_managed }}
[Unit]
Description=NATS Enterprise Messaging System
After=network.target

[Service]
PrivateTmp=true
Type=simple

User=nats
Group=nats
ExecStart={{ nats_bin_dir }}/nats-server -c {{ nats_server_conf }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID

[Install]
WantedBy=multi-user.target